* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f73e46;
  overflow-x: hidden;
  overflow-y: hidden;
}

.face {
  top: 60px;
  height: 550px;
  border-radius: 150px;
  width: 325px;
  background-color: #fabf9f;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 44;
}

.ears {
  height: 62.5px;
  width: 62.5px;
  background-color: #fabf9f;
  opacity: 0.7;
  position: absolute;
  top: 160px;
  z-index: 888;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ear-left {
  left: -31.25px;
}

.ear-right {
  right: -31.25px;
}

.eyes {
  display: flex;
  align-items: flex-end;
  height: 50px;
  overflow: hidden;
  background-color: transparent;
  position: absolute;
  bottom: 350px;
  justify-content: space-between;
}

.eye-left,
.eye-right {
  height: 75px;
  width: 75px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  position: relative;
  justify-content: center;
}

.point {
  height: 15px;
  width: 15px;
  position: absolute;
  bottom: 22.5px;
  background-color: #000;
  border-radius: 50%;
}

.beard {
  background-color: #002438;
  height: 325px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mouthContainer {
  position: relative;
  top: -62.5px;
  background-color: transparent;
  height: 125px;
  width: 125px;
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.nose {
  position: relative;
  top: -25px;
  height: 87.5px;
  width: 87.5px;
  background-color: #fabf9f;
  border-radius: 50%;
}

.mouth {
  background-color: #6c0224;
  height: 62.5px;
  width: 100%;
}

.teeth {
  background-color: #fff;
  height: 25px;
  width: 75%;
  border-bottom-right-radius: 17.5px;
}

.tongue {
  background-color: #f72460;
  position: relative;
  bottom: -7.5px;
  height: 35px;
  width: 50%;
  border-top-right-radius: 12.5px;
}

.neck {
  height: 150px;
  width: 200px;
  background-color: #6c0224;
  position: relative;
  top: -40px;
  z-index: 1;
  background-color: #ef8e7d;
}
